---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404" description="Page Not Found">
  <section>
    This site is being actively built. Maybe the page you are looking for does
    not exist. When the site will be completely made, and you by chance end up
    here, please use the search button.
  </section>
</BaseLayout>
