---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Me">
  <h1
    class="text-transparent flex font-bold text-6xl bg-clip-text bg-gradient-to-r from-indigo-500 to-rose-500 justify-center"
  >
    About Me
  </h1>
  <p>
    Hello everyone! I am Aritra Sen, and I recently graduated from IIT
    Kharagpur. I am a software developer. You could say I lean more towards the
    'backend developer' label, however, this time, I've decided to take a leap
    into the frontend realm because, well, <span class="italic">why NOT?</span> In
    my early days, I embarked on my coding adventures as a game developer, writing
    code in Java 8. I mean, who doesn't dream of being a game developer when they're
    in high school, right? However, as time progressed, I expanded my horizons and
    gained a solid understanding of various other software aspects. Along the way,
    I found happiness in contributing to open-source projects while also indulging
    in small yet meaningful side projects during my free time.
  </p>

  <p>
    My curiosity for all things computer-related knows no bounds. From hardware
    escapades (yes, I even took up niche courses like Hardware Security) to
    diving headfirst into Digital Image Processing, I've embraced a wide range
    of tech subjects. During my B.Tech. project at IIT Kharagpur, I even crafted
    a Tkinter GUI using Python to parse, graph, and analyze readings from a
    mmWave Sensor. Oh, and I've had the opportunity to intern at Honeywell,
    where I got to sink my teeth into massive Machine Learning projects. In a
    way, you can say that I've dabbled in nearly every major subject under the
    tech umbrella.
  </p>

  <p>
    Oh, and brace yourself for a fun fact—sport programming is also in my
    repertoire! Surprisingly, I've managed to achieve some pretty decent
    results. I even made it to the second round of Google Code Jam and
    successfully completed Google Foobar. Though I don't practice sport
    programming as much as I'd like, there's something about implementing
    algorithms and solving problems that fuels my adrenaline rush. I'm a fast
    solver too, although recent incidents have made me a bit of a slow typer.
    Oops!
  </p>

  <p>
    On retrospect, if I hadn't become a software engineer, I'd probably have
    become a mathematician. I had always loved mathematics, because solving
    problems was fun. When I got my first computer at the age of 15, I had a
    mere 1 GB of data to play with every month! But even with those limitations,
    I loved coding Java in NetBeans in my humble 2GB RAM laptop. It was during
    that time that I embarked on my very first game-making adventure, armed with
    the Java documentation and a book by Herbert Schildt, kindly lent to me by
    my computer teacher. Somewhere around that time is when I truly fell in love
    with computers, and it was a feeling akin to what the
    <a
      class="text-orange-500"
      href="https://i.redd.it/ilsjyuy0b0ey.jpg"
      target="_blank">Hacker's Manifesto</a
    > beautifully describes—a machine that does exactly what I want it to, and any
    mistakes it makes are purely a result of my own missteps. Can you blame me? That
    sense of control drew me headfirst into the captivating world of software engineering.
  </p>

  <p>
    But as time went on, I soon realized that mastering algorithms and software
    alone wouldn't suffice. That's why I decided to expand my horizons, reading
    up on everything and experimenting whenever and wherever possible. From
    diving deep into hardware intricacies to tinkering with machine learning and
    even delving into legacy software—there was nothing I didn't try my hand on.
    Now, I don't claim to be an expert at everything. If you had to label me,
    I'm what you'd call a Jack of All Trades, Master of None. And that's
    perfectly OK with me! I'm just an ambitious, curious individual who, one day
    in the future, hopes to become a <span class="font-bold"
      >Jack of All Trades, Master of Some</span
    >.
  </p>

  <p>
    So, welcome to my einternet space, where I'll be chronicling my adventures,
    misadventures, and everything in between. Stick with me and let's get
    started on this wild and mysterious adventure together!
  </p>

  <p>
    Oh, and as you explore the website, feel free to share any feedback—I'm all
    ears!
  </p>
</BaseLayout>
