---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  sr: string;
  className?: string;
}

const { id, sr, className, ...props } = Astro.props;
---

<button
  id={id}
  class:list={[
    "p-1 sm:p-2 rounded-xl focus:outline-none focus:ring focus:ring-amber-500 hover:ring-orange-500 hover:ring-2 text-stone-800 hover:bg-zinc-300 dark:text-zinc-300 dark:hover:text-white dark:hover:bg-stone-900",
    className,
  ]}
  {...props}
>
  <slot />
  <span class="sr-only">{sr}</span>
</button>
